header{
	position: -webkit-sticky; /* Necessário para funcionar no Safari */
    position: sticky;
	z-index: 1;
    top: 0;
}

.caixa2{
	display: inline-block;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	border: 2px solid #8B0000;
	border-radius: 30px 30px 30px 30px;
	transition: 1.5s all;
}


#sv1{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
	background-size: cover;
}

.container{
	display: flex;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
  
/* This container is needed to position the front and back side */
.flip1-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}
  
/* Do an horizontal flip when you move the mouse over the flip box container */
.flip1-card:hover .flip1-card-inner {
	transform: rotateY(180deg);
}
  
/* Position the front and back side */
.flip1-card-front, .flip1-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
}
  
  /* Style the front side (fallback if image is missing) */
  .flip1-card-front {
	background: url(../images/sv1.jpg)no-repeat;
	background-size: contain;
	color: black;
	box-sizing: border-box;
}
  
  /* Style the back side */
.flip1-card-back {
	color: white;
	background: #8B0000;
	transform: rotateY(180deg);
}

.flip1-card {
	position: relative;
	margin: 50px 20px;
	width: 248px;
	height: 270px;
	perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* The flip card container - set the width and height to whatever you want.*/


/*---------------------------------fim do primeiro card---------------------------------*/

#sv2{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
	background-size: cover;
}

/* This container is needed to position the front and back side */
.flip2-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}
  
/* Do an horizontal flip when you move the mouse over the flip box container */
.flip2-card:hover .flip2-card-inner {
	transform: rotateY(180deg);
}
  
/* Position the front and back side */
.flip2-card-front, .flip2-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
}
  
  /* Style the front side (fallback if image is missing) */
  .flip2-card-front {
	background: url(../images/sv2.jpg)no-repeat;
	background-size: contain;
	color: black;
	box-sizing: border-box;
}
  
  /* Style the back side */
  .flip2-card-back {
	color: white;
	background: #8B0000;
	transform: rotateY(180deg);
}
.flip2-card {
	position: relative;
	background-color: transparent;
	margin: 50px 20px;
	width: 248px;
	height: 270px;
	perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
/*-------------------------------fim do segunda card-----------------------*/

/*-------------------------------inicio terceiro card--------------------------*/


#sv3{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
	background-size: cover;
}
  
/* This container is needed to position the front and back side */
.flip3-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}
  
/* Do an horizontal flip when you move the mouse over the flip box container */
.flip3-card:hover .flip3-card-inner {
	transform: rotateY(180deg);
}
  
/* Position the front and back side */
.flip3-card-front, .flip3-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
}
  
/* Style the front side (fallback if image is missing) */
.flip3-card-front {
	background: url(../images/sv3.jpg)no-repeat;
	background-size: contain;
	color: black;
	box-sizing: border-box;
}
  
  /* Style the back side */
.flip3-card-back {
	background: #8B0000;
	color: white;
	transform: rotateY(180deg);
}
/* The flip card container - set the width and height to whatever you want.*/
.flip3-card {
	position: relative;
	background-color: transparent;
	margin: 50px 20px;
	width: 248px;
	height: 270px;
	perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/*-----------------------fim do terceiro card------------------------*/

#sv4{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
	background-size: cover;
}
  
/* This container is needed to position the front and back side */
.flip4-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}
  
/* Do an horizontal flip when you move the mouse over the flip box container */
.flip4-card:hover .flip4-card-inner {
	transform: rotateY(180deg);
}
  
/* Position the front and back side */
.flip4-card-front, .flip4-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
}
  
/* Style the front side (fallback if image is missing) */
.flip4-card-front {
	background: url(../images/sv4.jpg)no-repeat;
	background-size: contain;
	color: black;
	box-sizing: border-box;
}
  
  /* Style the back side */
.flip4-card-back {
	background: #8B0000;
	color: white;
	transform: rotateY(180deg);
}
/* The flip card container - set the width and height to whatever you want.*/
.flip4-card {
	position: relative;
	background-color: transparent;
	margin: 50px 20px;
	width: 248px;
	height: 270px;
	perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/*-----------------------------fim do quarto card-------------------------------*/

#sv5{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
	background-size: cover;
}
  
/* This container is needed to position the front and back side */
.flip5-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}
  
/* Do an horizontal flip when you move the mouse over the flip box container */
.flip5-card:hover .flip5-card-inner {
	transform: rotateY(180deg);
}
  
/* Position the front and back side */
.flip5-card-front, .flip5-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
}
  
/* Style the front side (fallback if image is missing) */
.flip5-card-front {
	background: url(../images/sv5.jpg)no-repeat;
	background-size: contain;
	color: black;
	box-sizing: border-box;
}
  
  /* Style the back side */
.flip5-card-back {
	background: #8B0000;
	color: white;
	transform: rotateY(180deg);
}
/* The flip card container - set the width and height to whatever you want.*/
.flip5-card {
	position: relative;
	background-color: transparent;
	margin: 50px 20px;
	width: 248px;
	height: 270px;
	perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

#sv6{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
	background-size: cover;
}
  
/* This container is needed to position the front and back side */
.flip6-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}
  
/* Do an horizontal flip when you move the mouse over the flip box container */
.flip6-card:hover .flip6-card-inner {
	transform: rotateY(180deg);
}
  
/* Position the front and back side */
.flip6-card-front, .flip6-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
}
  
/* Style the front side (fallback if image is missing) */
.flip6-card-front {
	background: url(../images/sv6.jpg) no-repeat;
	background-size: contain;
	color: black;
	box-sizing: border-box;
}
  
  /* Style the back side */
.flip6-card-back {
	background: #8B0000;
	color: white;
	transform: rotateY(180deg);
}
/* The flip card container - set the width and height to whatever you want.*/
.flip6-card {
	position: relative;
	background-color: transparent;
	margin: 50px 20px;
	width: 248px;
	height: 270px;
	perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

#didio{
	width: 50%;
}
