* {
    margin: 0;
    padding: 0;
}

button {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    border: 2px solid #8B0000;
    border-radius: 5px 5px 5px 5px;
    padding: 15px 15px;
    cursor: pointer;
    background: #F08080;
}

button:hover {
    opacity: 0.7;
}

.logo{
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}    

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, 'Helvetica', sans-serif;
    background: #8B0000;
    height: 20vh;
}
main{
    background: url("../images/bg.jpg") no-repeat center center;
    background-size: cover;
    height: 300vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}



.mobile-menu{
    display: none;
    cursor: pointer;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

@media (max-width: 999px){
    body{
        overflow-x: hidden;
    }
    .nav-list{
        position: absolute;
		z-index: 1;
        top: 20vh;
        right: 0;
        width: 50vh;
        height: 92vh;
        background: #8B0000;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .nav-list li{
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu{
        display: block;
    }
}

.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}


.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}